body {
  height: 100vh;
}
.somebackgroundimg {
  background-image: url("blur-close-up-decoration-133229.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
}

header {
  position: relative;
  height: 50%;
}

/* header h1 {
  font-family: "AlexBrush";
}

h2, h3 {
  font-family: "LoraI";
} */

.sygdomTitle {
  font-size: 20px;
  font-weight: bold;
}

.standOut {
  width: 70%;
}

.someStuff p
{
  font-size: 15px;
}

.smaller {
  font-size: 18px;
}

.containHR {
  width: 55%;

}

.titleHr {
  width: 50%;
}

footer {
  height: 100px;
}

.textUp {
  margin-top: -5px;
}

.imgSection {
  height: 400px;
}

@font-face {
  font-family: "AlexBrush";
  src: url("Font/AlexBrush-Regular.ttf");
}

@font-face {
  font-family: "LoraI";
  src: url("Lora-BoldItalic.ttf");
}

@font-face {
  font-family: "LoraR";
  src: url("Lora-Regular.ttf");
}

p {
  font-size: 18px;
  color: #504e4b;
}
